nav{
	height:100px;
	color:grey;
}
h2,h3{
	text-align: center;
}
.design{
	border:1px solid black;
	margin-top:20px;
	margin-bottom:10px;
	background-color: #d9ded9;
}

.item{
	border:1px solid black;
	background-color:black;
	color:white;
	font-style: bold;
	height:50px;
	width:100%;
	margin-bottom: 0px;
	padding:0px;


}
a:hover{
	color:red;
}
li{
	height:70px;
	margin:0px;
	padding: 0px;
}
